//css reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  list-style: none;
}

//end css reset

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1100px;
  margin: 0 auto;
  @extend .flex-column;
}

.row {
  display: flex;
  flex-direction: row;
}