.header {
  width: 100%;

  background-image: url("../images/bg-films.jpg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: cover;

  @extend .flex-column;

  .landing-page {
    background-color: rgba($dark, 70%);

    @extend .flex-column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    .landing-page-header,
    .landing-page-banner-fixed {
      width: 100%;
    }

    .landing-page-header {
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;

      .soon,
      button {
        font-weight: bold;
      }

      .soon {
        color: $secondary-color;
        font-size: 25px;
        letter-spacing: 1px;
      }

      button {
        background: #0000;
        color: $gray;
        padding: 12px 15px;
        font-size: 15px;
        text-shadow: 0px 0px 2px $dark;
        border-radius: 10px;

        &:hover {
          background-color: darken($color: $gray, $amount: 45%);
          color: $light;
          cursor: pointer;
        }
      }
    }

    .landing-page-presentation {
      justify-content: center;
      flex: 1;
      padding: 60px 40px;

      .presentation-content {

        width: 600px;
        margin: 0 auto 30px;

        h1,
        h2 {
          text-align: center;
          font-weight: bold;
        }

        h1 {
          color: darken($color: $secondary-color, $amount: 5%);
          text-transform: uppercase;
          font-size: 12px;
        }

        img {
          width: 600px;
          margin: 20px auto;
        }

        h2 {
          font-size: 25px;
          color: $light;
        }
      }

      .presentation-nav-links {

        width: 650px;
        margin: 0 auto;

        ul {

          li {
            @extend .flex-column;
            align-items: center;

            a {
              color: $light;
              text-align: center;
              margin: 0 0 10px;

              &.btn {
                width: 100%;
                padding: 15px 30px;
                border-radius: 5px;
                background-color: $secondary-color;
                color: $dark;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                font-weight: 700;
                transition: .5s;

                &:hover {
                  background: rgba($secondary-color, 40%);
                }
              }

              &.terms,
              &.sign-up {
                text-decoration: underline;
              }

              &.terms {
                font-size: 15px;
                margin-bottom: 30px;
                margin-top: 10px;
              }

              &.sign-up {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .landing-page-banner-fixed {

      background-color: rgba($dark, 50%);

      .row {

        align-items: center;
        justify-content: space-between;

        article {

          display: flex;
          align-items: center;

          margin: 0 20px;

          img {
            width: 350px;
          }

          .titles {
            @extend .flex-column;
            align-items: center;
          }

          h1 {
            color: darken($color: $secondary-color, $amount: 5%);
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 15px;
          }

          h2 {
            font-size: 25px;
            color: $light;
          }
        }

        nav {

          ul {

            @extend .flex-column;
            justify-content: center;
            align-items: center;

            a {
              color: $light;
              text-align: center;
              display: block;

              &.btn {
                padding: 15px;
                margin-bottom: 5px;
                border: 2px solid $light;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: bold;
                color: $light;

                &:hover {
                  background: $light;
                  color: $dark;
                  border: 1px solid $light;
                  transform: scale(95%);
                }
              }

              &.terms {
                color: $gray;
                font-size: 12px;
                text-decoration: underline;

              }
            }
          }
        }
      }
    }
  }
}