header {
  background-image: url("../img/filmes.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  section.content {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0008;

    section.row {
      padding: 20px 50px;
      justify-content: space-between;
      align-items: center;

      div.logo {
        color: #1ce7b3;
        font-weight: bolder;
        font-size: 25px;
      }

      button {
        padding: 10px 20px;
        color: #aaa;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        border-radius: 15px;

        &:hover {
          background-color: #444;
          color: #fff;
        }
      }
    }

    article {

      flex: 1;
      display: flex;
      align-self: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 80%;

      div {
        color: #1ce7b3;
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      figure {
        margin-bottom: 20px;
      }

      section {
        display: flex;
        flex-direction: column;

        p {
          font-size: 40px;
        }

        a {
          color: #fff;
          margin-bottom: 10px;
          text-decoration: underline;
        }

        a.btn-get-plans {
          background-color: #1ce7b3;
          color: #000;
          padding: 20px 0;
          text-transform: uppercase;

          &:hover {
            filter: opacity(70%);
          }
        }
      }
    }
  }
}