.landing-page {

  header {
    padding: 0 40px;

    article.row {
      height: 80px;
      justify-content: space-between;
      align-items: center;

      .btn-login,
      .soon span {
        font-weight: bold;
        letter-spacing: 100%;
      }

      .soon {

        span {
          color: $secondary-color;
          font-size: 30px;
        }

      }

      .btn-login {

        padding: 15px 20px;
        border-radius: 10px;

        background-color: #0000;
        color: $gray;
        text-transform: uppercase;
        font-size: 15px;
        transition: .3s ease-in;
        text-shadow: 1px 1px 1px #000;

        &:hover {

          background-color: darken($gray, 45%);
          color: $light;
          cursor: pointer;
        }

      }
    }
  }
}